li.media-blog__item
	a(href="#").media-blog__item-wrapper
		.media-blog__pic-container
			img(src="assets/img/webbanner.jpg", alt="" class="media-blog__item-pic")
		h3.media-blog__title Tips agar berkendara lebih aman dan tentram
	span.media-blog__date 20 May 2016