footer#footer
	.footer-social
		ul.footer-social__links
			li.footer-social__item
				a(href="" class="footer-social__item-link") facebook
			li.footer-social__item
				a(href="https://twitter.com/tric_indonesia" class="footer-social__item-link footer-social__item-link--black") twitter
			li.footer-social__item
				a(href="" class="footer-social__item-link") google+
			li.footer-social__item
				a(href="" class="footer-social__item-link footer-social__item-link--black") youtube
	.footer-link
		.footer-link__section.footer-link--tentangTric
			h3.footer-link__title Tentang Tric
			ul.footer-link__contents
				li.footer-link__item
					a(href="#").footer-link__item-link Sejarah
				li.footer-link__item
					a(href="#").footer-link__item-link Visi & Misi
				li.footer-link__item
					a(href="#").footer-link__item-link Slogan
		.footer-link__wrapper
			.footer-link__section.footer-link--strukturOrg
				h3.footer-link__title Struktur Organisasi
				ul.footer-link__contents
					li.footer-link__item
						a(href="#").footer-link__item-link Regional Board
					li.footer-link__item
						a(href="#").footer-link__item-link Chapter
					li.footer-link__item
						a(href="#").footer-link__item-link Mother Chapter
			.footer-link__section.footer-link--media
				h3.footer-link__title Media
				ul.footer-link__contents
					li.footer-link__item
						a(href="#").footer-link__item-link Events
					li.footer-link__item
						a(href="#").footer-link__item-link News
					li.footer-link__item
						a(href="#").footer-link__item-link Gallery
					li.footer-link__item
						a(href="#").footer-link__item-link Video
					li.footer-link__item
						a(href="#").footer-link__item-link Blog
			.footer-link__section.footer-link--membership
				h3.footer-link__title Membership
				ul.footer-link__contents
					li.footer-link__item
						a(href="#").footer-link__item-link Pendaftaran
		.footer-link__section.footer-link--partnerOrg
			h3.footer-link__title Partnering Organization
			ul.footer-link__contents
				li.footer-link__item
					a(href="#").footer-link__item-link HTCI
				li.footer-link__item
					a(href="#").footer-link__item-link Aliansi 19
<script src="./vendors/jquery/dist/jquery.min.js"></script>
<script src="./vendors/Swiper/dist/js/swiper.jquery.min.js"></script>
<script src="./vendors/jquery-accordion/js/jquery.accordion.js"></script>
<script src="./assets/js/app.js"></script>