.pagination.pagination__list
	.pagination__wrapper
		a(href="#").pagination__nav.pagination__nav--first
			span.pagination__first-nav First
		a(href="#").pagination__nav.pagination__nav--previous <
		a(href="#").pagination__nav 8
		a(href="#").pagination__nav 9
		span.pagination__nav.pagination__nav--current 10
		a(href="#").pagination__nav 11
		a(href="#").pagination__nav 12
		a(href="#").pagination__nav.pagination__nav--next >
		a(href="#").pagination__nav.pagination__nav--last
			span.pagination__first-nav Last