.pagination.pagination--page-list
	.pagination__info Page 1 of 110
	.pagination__wrapper
		.pagination__number.pagination__current 1
		.pagination__number 2
		.pagination__number 3
		span.pagination__dots ...
		.pagination__number 110