doctype html
html(lang="en")
	head
		title=pageName
		meta(charset="utf-8")
		meta(name="viewport")

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="assets/css/main.css">
		<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
	body
		header#header
			include ./_partials/header.jade
		.breadcrumb
			include ./_partials/breadcrumb.jade
		.marchandise__main
			.marchandise__header-wrapper
				header.marchandise__header-title
					h1 Marchandise
				.marchandise__collection-tags
					select#marchandise__collection-selector(name="marchandise__collection-selector")
						option(value="/marchandise/") All
						option(value="/marchandise/?category=kaos") Kaos
						option(value="/marchandise/?category=helm") Helm
			ul.marchandise__catalog
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise.jpg", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
							.marchandise__price Rp. 35.000
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise-jacket.png", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
							.marchandise__price Rp. 35.000
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise-calendar.png", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
							.marchandise__price Rp. 35.000
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise.jpg", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise-calendar.png", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
							.marchandise__price Rp. 35.000
				li.marchandise__product
					a(href="#", title="Kaos Tigers Rider Club Indonesia")
						.marchandise__product-image-wrapper
							img.marchandise__product-image(src="assets/img/marchandise.jpg", alt="")
						.marchandise__product-description
							h4.marchandise__product-name Marchandise nama
			.marchandise__pagination-wrapper
				include ./_partials/pagination.jade
		include _partials/footer.jade