doctype html
html(lang="en")
	head
		title=pageName
		meta(charset="utf-8")
		meta(name="viewport")

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="assets/css/main.css">
		<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
	body
		header#header
			include ./_partials/header.jade
		.breadcrumb
			include ./_partials/breadcrumb.jade
		section#page-main
			.page__wrapper.page__wrapper--has-nav
				.marchandise__main
					ul.page__social-share
						li.page__social-share-item
							a(href="#").page__social-share-link.page__social-share-link--facebook fb
						li.page__social-share-item
							a(href="#").page__social-share-link.page__social-share-link--twitter fb
						li.page__social-share-item
							a(href="#").page__social-share-link.page__social-share-link--googleplus tw
						li.page__social-share-item
							a(href="#").page__social-share-link.page__social-share-link--instagram g+
		include _partials/footer.jade