include ./template/media-box.jade

doctype html
html(lang="en")
	head
		title=pageName
		meta(charset="utf-8")
		meta(name="viewport")

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="assets/css/main.css">
		<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
	body
		header#header
			include ./_partials/header.jade
		.breadcrumb
			include ./_partials/breadcrumb.jade
		section#news.news
			.news__wrapper
				h1.news__header Articles
				ul.news__list
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
					+media-box("news", "Tips agar berkendara lebih aman dan tentram")
				include _partials/pagination.jade
			.news__button-wrapper
		include _partials/footer.jade